body 
{ font-family: 'Special Elite', cursive; background: #d107007e; }
 .header_div 
 { background: black;
     color: rgba(0, 0, 179, 0.568); }
  .header_div img { width: 100px } 
  .main_div { background: rgb(168, 255, 251);
     padding: 10px;
      margin-top: 15px;
       border: 3px solid ;
     } 
     .main_div label 
     { background: black;
         width: 310px;
          padding: 10px;
           margin-bottom: 0px;
            box-shadow: 5px 5px 18px black;
         }
#camera , #result 
{ border: 2px solid black;
     width: 310px;
      height: 300px; 
      box-shadow: 5px 5px 18px black;
   ;
   } 
      .main_div button 
      { width: 310px;
         font-size: 16px;
          box-shadow: 5px 5px 18px black;
           border: 1px solid; } 
           .footer_div
            { margin-bottom: 50px; }
             .footer_div h4 
             { background: black; 
                border-radius: 10px;
                 padding: 5px;
                  box-shadow: 5px 5px 18px black; 
                } 
                .footer_div img 
                { width: 70px; } 
                .copy_right_footer
                 { position: fixed;
                     color: white;
                      bottom: 0;
                       width: 100%;
                        background-color: black; 
                        line-height: 3;
                         text-align: center; }
                         
                             #logo{
 widows: 200px;
 height:200px;
                              }

                              
                         